html
    head
    body
        h1 vacation management system
        h2 my vacation overview
        div
            ul
                li my vacations overview
                li requst vacation approval
                li show calendar vieww
                li show approvals status
        article
            div take over from 2016
            ul
                li 1    feb 9, 2017
                li 2    feb 10, 2017